.cell {
    border: 1px solid black;
    font-size: calc(5vw + 5vh);
    aspect-ratio: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info {
    display: flex;
    gap: 50px;
    text-transform: capitalize;
}

.container {
    height: 50vh;
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.board {
    flex: 1 1 80%;
    width: 80%;
}

.info {
    flex: 1;
}

.player {
    font-size: 24px;
    line-height: 0.3;
    font-weight: bold;
    height: min-content;
}

.player p {
    text-align: center;
}

.player p:nth-child(2),
.player p:nth-child(3) {
    font-size: 20px;
}

.modal dialog[open] {
    padding: 50px 10px;
    border: none;
    border-radius: 15px;
    background: #e9d5ff;
    position: fixed;
    top: -50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.modal label {
    display: flex;
    gap: 15px;
    font-size: 1.3rem;
    justify-content: center;
}

.modal input {
    width: 50%;
    font-size: 1.1rem;
}

.modal button {
    background-color: #4a044e;
    color: white;
    border: none;
    font-size: 1.2rem;
    line-height: 2;
    width: 40%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal button:active {
    box-shadow: none;
    background-color: #d946ef;
}

::backdrop {
    background: #fae8ff;
}

.start-button {
    background-color: #4a044e;
    padding: 20px 50px;
    color: white;
    border: none;
    font-size: 1.2rem;
    line-height: 2;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-button:active {
    box-shadow: none;
    background-color: #d946ef;
}